// Place all the styles related to the ForumThreads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
body {
	margin-top: 60px;
}
.author {
	width: auto;
	display: inline;
	margin-right: 5%;
}
.attributions {
	width: auto;
	display: inline;
	margin-right: 5%;
}
.attributionicon {
	width: 1em;
	height: auto;
}
.updated {
	width: auto;
	display: inline;
	margin-right: 5%;
}
.replies {
	width: auto;
	display: inline;
	margin-right: 5%;
}
.postID {
	width: auto;
	float: right;
}
