$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";

body {
	margin-top: 30px;
}

.highlight {
	color: black !important;
	font-size: 1.5em;
	&:hover {
		color: red !important;
	}
}

a:hover {
	color: black !important;
	text-decoration: none;
}
