
<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Body</th>
      <th>Posted</th>
    </tr>
  </thead>
  <tbody>
    <% forum_threads.each do |thread| %>
      <tr>
        <td><%= truncate thread.body, :length => 30%></td>
        <td><%= time_ago_in_words thread.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

