<h1>Forum Posts</h1>

<%= link_to 'Create New Post', new_forum_thread_path %>

<div id="posts">
    <%= render partial: "forum_thread_listing", collection: @forum_threads %>
</div>


<br>

<div id="pagination">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to 'Create New Post', new_forum_thread_path %>
