<h1>Forum Posts</h1>

<%= link_to 'Create New Post', new_forum_thread_path %>

<table class="table table-bordered table-hover flforum-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Posts</th>
      <th>Allowed</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "forum_thread_table", collection: @forum_threads %>
  </tbody>
</table>

<br>

<div id="pagination">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to 'Create New Post', new_forum_thread_path %>
